body {
    font-family: 'Lato', sans-serif;
    color: #747704;
}

hr {
  width: 1140px;
  border-top: 4px solid #BCBBBB;
  margin-top: 15px;
} 

.logo {
  margin-top: 22px;
  margin-bottom: 0px;
}

.bigpic {
  width: 1150px;
  height: 350px;
}

.articlepic {
  position: relative;
  float: left;
  width:  360px;
  height: 256px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;  
  margin-bottom: 10px;
}

.title-main {
  font-size: 60px;
  margin-bottom: 7px;
}

.title-secondary {
  margin-top: 12px;
}

.text-thin {
  font-weight: 100;
}

.text-grey {
  color: #BCBBBB;
  font-size: 40px;
}

.articlename {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 5px;
}

.sitec {
  color: #747704
}

.text-two {
  font-weight: 300;
}

.text-place {
  margin-left: 10px;
  margin-top: 40px;
  margin-bottom: 12px;
}